* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	width: 100%;
	height: 50px;
	padding: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav button {
	background: none;
	color: #000;
	font-weight: bold;
}

main {
	padding: 75px;
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;
}

h2 {
	margin-bottom: 15px;
}

form {
	display: block;
	margin-bottom: 50px;
}

input,
textarea,
form button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
}

textarea {
	resize: vertical;
}

button {
	outline: none;
	border: none;
	background: #00691a;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
}

.notes {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
}

.notes div {
	position: relative;
	text-align: center;
	height: 200px;
	padding: 30px;
	background: #f1f0f0;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.notes div p {
	max-height: 100%;
	overflow-y: auto;
}

.notes button {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	font-weight: bold;
	background: none;
	color: #ff0000;
}

.login {
	text-align: center;
}

.login-form {
	padding: 0 300px;
}

.error {
	display: block;
	text-align: left;
	color: #ff0000;
}
