nav {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	padding: 30px 40px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.first {
	color: #5ea700;
}

.second {
	color: #600d3f;
}

.link {
	display: inline-block;
	background: #5ea700;
	padding: 5px 10px;
	border-radius: 5px;
}

.link a {
	color: #fff;
}
